section.pricinghead {
    padding-top: 150px;
}
.price_wrapper {
    border: 1px solid #d6dde1;
    padding: 10px;
    position: relative;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 34px;
}
.price_wrapper span {
    background-color: #f8f9fa!important;
    position: absolute;
    top: 0;
    font-size: 19px !important;
    color: #242f40;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 15px;
    color: #242f40;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
}
.price_wrapper ul {
    list-style-type: none;
    text-align: left;
    padding: 20px;
    margin: 0;
}
.price_wrapper ul li {
padding: 7px 0;
padding-left: 11px;
font-size: 14px;
position: relative;
}
.price_wrapper ul li img {
padding-right: 10px;
width: 31px;
position: absolute;
left: -15px;
top: 6px;
}
